use mise

export APP_NAME=kyozo
export DATABASE_URL="ecto://postgres:postgres@localhost/kyozo_dev"
export POOL_SIZE=10
export SECRET_KEY_BASE="9b6TnGoLlLcF11Xe1AFah8oi9u39J1bY19uBEYhvUdteBxhcG9EbD/dp6uwBWpAV"

export APPLE_CLIENT_ID=cloud.nocsi.kyozo.web
export APPLE_CLIENT_SECRET=eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjNNWFI3WUI5MjgifQ.eyJpYXQiOjE2NDY3NTY2MzcsImV4cCI6MTY0NjkyOTQzNywiYXVkIjoiaHR0cHM6Ly9hcHBsZWlkLmFwcGxlLmNvbSIsImlzcyI6IjZIMjk4UjZNQTciLCJzdWIiOiJjbG91ZC5ub2NzaS5ub2MifQ.9PrPkF7U7HbdH3SppFufw31KP2Tf72LRZFCW09IXZx8YI25iXoy0yKu94kevhSq8qQYy0a0PnbnDkW1-ULRa8Q
export APPLE_TEAM_ID=6H298R6MA7
export APPLE_PRIVATE_KEY_ID=S3HDFJTL29
export APPLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgP3hg4S8if8UNv52m\nHdOn9ObkPhYKqCuBFcedhZCP3vWgCgYIKoZIzj0DAQehRANCAATC22klrghu7k9x\nU+SGhIO9iEfG2mp3Ppce78CPZMdWqllS4niRJCQd3C42TqNGR03n1ywdFeY3wH6b\n/oLe2/Uv\n-----END PRIVATE KEY-----"
export APPLE_PRIVATE_KEY_PATH='./priv/AuthKey_S3HDFJTL29.p8'
export APPLE_REDIRECT_URI=https://kyozo.store/auth/user/apple/callback

export FLY_API_TOKEN='FlyV1 fm2_lJPECAAAAAAAADpgxBAzQkFaSCO+19qKhxDS5r9lwrVodHRwczovL2FwaS5mbHkuaW8vdjGWAJLNV58fC5O5aHR0cHM6Ly9hcGkuZmx5LmlvL2FhYS92McQ8EbB3pgddJjwYWF4v0W0fROT6CgS1yBQDnrvZtizG/0CWJXD+j5jBFbXr+kfeskdK5jUipmZG/wlKQ6vsxEXMYC63V2Cl5nXzmThP9LWfi0CAxEQrIvDDbiBriPt37obo22t3pdN+NhVe3QvTP1+VoWiOiXblOtQXyzq6NFYGbPDo5/kNkpQDkYHNxGQfBZGCp2J1aWxkZXIfondnHwHEIOGbD3RmizyYPlgc0moWDTMl5k4A22uGTDmHMGIKwBTm,fm2_lJPERcxgLrdXYKXmdfOZOE/0tZ+LQIDERCsi8MNuIGuI+3fuhujba3el0342FV7dC9M/X5WhaI6JduU61BfLOro0VgZs8Ojn+cQQbpY12hYIV9DxdXfZkEGTy8O5aHR0cHM6Ly9hcGkuZmx5LmlvL2FhYS92MZYEks5lnX9Uzos1hXIKkc1NqwzEENjLSfA9Iqj+k3bFEW0C/KfEIEo6e+notVTFB4W/On9MvwSmYsaY3xddx3T5V5jhw8q9'

export CALLBACK=https://kyozo.store/redirect

export DO_ACCESS_TOKEN=c0d260aea5d3aee7d932a709cbffbe1fd5b65bdd75b858610106b7c42e7ea6f5

export FLY_REGION=sea

export GITHUB_CLIENT_ID=7819e14cff2888c42f32
export GITHUB_CLIENT_SECRET=8e337c2b6283b142368c48f7cdcf2faee4fb8166
export GITHUB_REDIRECT_URI=https://kyozo.store/auth/user/github/callback
export TURNSTILE_SITE_KEY=0x4AAAAAAAJFi5hjaKPKTKRq
export TURNSTILE_SECRET_KEY=0x4AAAAAAAJFi6iCibX3gYBw6dpnNBgsj9c
export CLOAK_KEY=EPc/DiyAI1h4pJ0VoaQWODN0wElxhP6EWeK5cgBPpH4=
